.timer{
   
font-size: 150px;
font-weight: 200;
line-height: 179px;
text-align: left;

color: var(--color-text);

}

.btn{
    border: 2px solid var(--gray-c4);
    display: inline-block;
    padding: 15px  50px;
    color: var(--gray-c4);
}
.btnTarget{
    border-color: var(--green-color);
    background-color: var(--green-color);
    color:var(--color-white)
}