.dropItem{
  display: flex;
  padding: 11px 17px;
  align-items: center;
  width: 100%;

  justify-content: center;
  background-color: var(--color-white);

}
.dropSvgBlock {
  margin-right: 5px;
}

/* .dropItem{
  display: flex;
} */
.dropContent {
  color: var(--color-text);;
  margin: 0;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.dropItem:hover{
  cursor: pointer;
  background-color: var(--gray-color);
}
