.container {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  z-index: 10;
}
.list {
  position: absolute;

  border: solid 1px var(--border);
  background-color: var(--color-white);
  z-index: 15;
  left: 50%;
  transform: translateX(-50%) translateY(8px);
}

.dropItem:hover {
  cursor: pointer;
  background-color: var(--gray-color);
}

.list {
  border: 1px solid var(--gray-color);
}

.list::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--color-white);
  border-left: var(--gray-color) 1px solid;
  border-top: var(--gray-color) 1px solid;
  right: auto;
  left: 50%;
  transform: translate(-50%, 50%) rotate(45deg);

  bottom: 100%;
  z-index: 10;
}

.dropSvgBlock * path {
  fill: var(--green-color);
}
.listContainer {
  position: relative;
  z-index: 3;
}
