.container {
  position: absolute;
  right:  0;
 

  /* z-index: 3; */
}
.list {
  position: absolute;
  z-index: 5;
  border: solid 1px var(--border);
  background-color: var(--color-white);

  left: 50%;
  transform: translateX(-50%) translateY(8px);
}
.list > * {
  z-index: 6;
}
.dropItem:hover {
  cursor: pointer;
  background-color: var(--gray-color);
}

.list {
  border: 1px solid var(--gray-color);
}

.list::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--color-white);
  border-left: var(--gray-color) 1px solid;
  border-top: var(--gray-color) 1px solid;
  right: auto;
  left: 50%;
  transform: translate(-50%, 50%) rotate(45deg);
  
  bottom: 100%;
  z-index: 10;
}

.dropSvgBlock * path{
  fill: var(--green-color);
}