.statisticsFrame {
  width: 100%;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  flex-direction: column;
}

.statisticsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.headerTitle {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.weekSelector select {
  padding: 5px;
  font-size: 14px;
}
.weekSelector {
  width: 25%;
  min-width: 200px;
  max-width: 400px;
}

.statisticsContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}
.daySummary,
.tomatoes,
.focusSummary,
.pauseSummary,
.stopsSummary {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.daySummaryTitle {
  margin: 0 0 10px;
  font-size: 18px;
  color: #333;
}

.daySummaryText {
  margin: 0;
  font-size: 14px;
  color: #777;
}

.highlightText {
  font-weight: bold;
  color: #dc3e22;
}

.tomatoes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tomatoImage {
  width: 50px;
  height: 50px;
}

.tomatoCount {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #dc3e22;
}

.chartContainer {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  
  background-color: #f4f4f4;
  border-radius: 10px;

  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.focusSummary,
.pauseSummary,
.stopsSummary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summaryTitle {
  color: var(--color-text);
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
}

.summaryValue {
  margin: 0;

  color: var(--color-text);

  font-size: 64px;
  font-weight: 400;
  line-height: 76.38px;
  text-align: left;
}

.focusSummary {
  background-color: #ffdda9;
  position: relative;
}

.pauseSummary {
  background-color: #dfdcfe;
  position: relative;
}

.stopsSummary {
  background-color: #c5f1ff;
  position: relative;
}
.summaryBlock {
  display: flex;
  align-items: flex-start;
}
.sideBlock{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.iconBlock {
  max-width: 130px;
  max-height: 130px;
  min-width: 125px;
  min-height: 125px;
  width: max-content;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}

.iconBlock1 {
  background: url("../../source/target.svg") no-repeat;
}

.iconBlock2 {
  background-image: url("../../source/alarm-clock.svg");
}
.iconBlock3 {
  background-image: url("../../source/ban.svg");
}
