.dropItem {
  position: relative;
  display: flex;
  padding: 11px 17px;
  align-items: center;
  width: 100%;
  /* z-index: 5; */
  
}
.dropSvgBlock{
    margin-right: 5px;
}
.dropContent {
  color: var(--color-text);
  margin: 0;

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dropItem:hover{
  z-index: 20;
  cursor: pointer;
  background-color: var(--gray-color);
}
.dropSvgBlock * path{
  fill: var(--green-color);
}
.disabled * path{
  fill: var(--gray-color);
}