.title {
	margin: 0 0 3px 0;
	font-weight: bold;
	color: var(--color-text);
}

.list {
	margin-bottom: 25px;
}

.list li {
	font-weight: 400;
	font-size: 1rem;
	line-height: 2.0625rem;
	color: var(--color-text);
}

.list li::before {
	content: "\2022";
	font-weight: 400;
	font-size: 1rem;
	line-height: 2.0625rem;
	color:var(--marker-color);
	margin-inline-end: 15px;
}
